<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="MathServiceSoap" />
        <binding name="GeoIPServiceSoap" />
      </basicHttpBinding>
      <customBinding>
        <binding name="GeoIPServiceSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:56210/MathService.asmx" binding="basicHttpBinding"
        bindingConfiguration="MathServiceSoap" contract="MyServiceRef.MathServiceSoap"
        name="MathServiceSoap" />
      <endpoint address="http://www.webservicex.net/geoipservice.asmx"
        binding="basicHttpBinding" bindingConfiguration="GeoIPServiceSoap"
        contract="IPServiceRef.GeoIPServiceSoap" name="GeoIPServiceSoap" />
      <endpoint address="http://www.webservicex.net/geoipservice.asmx"
        binding="customBinding" bindingConfiguration="GeoIPServiceSoap12"
        contract="IPServiceRef.GeoIPServiceSoap" name="GeoIPServiceSoap12" />
    </client>
  </system.serviceModel>
</configuration>